<div style=" transform:scale(.8)">
  <form [formGroup]="empreg" (ngSubmit)="SaveEmployee()">

    
                  <ng-template matStepLabel>Personal Details</ng-template>
                  <mat-form-field>
                      <mat-label>Full Name</mat-label>
                      <input matInput placeholder="Full Name" formControlName="employeeName" required>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label> Addreess</mat-label>
                      <input matInput placeholder="address" formControlName="employeeAdress" required>
                  </mat-form-field>

                  <mat-form-field>
                      <mat-label> Mobile Number</mat-label>
                      <input matInput placeholder="Mobile number" formControlName="employeeNumber" required>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label> Employee Email</mat-label>
                      <input matInput placeholder="Email Id" formControlName="employeeEmail" required>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label> Employee Role</mat-label>
                      <input matInput placeholder="relationship executive" formControlName="employeeRole" required>
                  </mat-form-field>
                  <table class="table" border="2">


                    <tr>
                        <td> <label for="file">Select Profile Image:-</label></td>
                        <td><input type="file" id="prof" (change)="onSelectProfile($event)"></td>
                    </tr>
                    <tr>
                        <td> <label for="ad">Select Aadhar Doc:-</label></td>
                        <td><input type="file" id="ad" (change)="onSelectAadhar($event)"></td>
                    </tr>
                    <tr>
                        <td> <label for="pann">Select Pan doc:-</label></td>
                        <td> <input type="file" id="pann" (change)="onSelectPan($event)"></td>
                    </tr>
                    <tr>
                        <td> <label for="signe">Select Signature:-</label></td>
                        <td><input type="file" id="signe" (change)="onSelectSign($event)"></td>
                    </tr>
                                      
                </table>


                   <div>
                  
                  </div>
                  <button type="submit" color="accent" >Submit</button>
         
       
         
         
     
  </form>
</div>