nav{
    background: rgb(84, 197, 226);
    background: linear-gradient(90deg, rgba(207,255,244,1) 0%, rgb(238, 77, 77) 92%);
 
  
    height: 50px;
}
h1{
    color: white;
    margin: 0px,5px,0px,0px;
    padding: 0;
    

}
button{
    margin-left: 200px;
    margin-top: 10px;
    height: 30px;
}