<div id="main">

    <div id="firstBox">
      <marquee behavior="right" direction=""><h2 align="center" style="border: 20px;font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;">Welcome to the Secure Finance</h2></marquee>  <h2 align="center" style="border: 20px;font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;">Welcome to the Secure Finance</h2>
        <h1
            style="justify-content: right;margin-left: 200px ;display: flex; font-size: 40px; font-family: Georgia, 'Times New Roman', Times, serif;">
            Maha Super Car Loan</h1>

    </div>
    <div id="secBox">

        <img src="assets\c4.png" alt="">

    </div>

    <!-- <div id="thirdBox">
    <img src="assets\c2.png" alt="">
   
 </div>
 <div id="fourthBox">
    <img src="assets\c1.png" alt="">
  
 </div> -->
</div>