




 <div class="mt-0 pt-0 pb-0 footer">

  <!-- <div style="height:50px;width: 100%; background-color:rgb(13, 13, 110);">


  </div> -->
  <div class="container">
    

    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <h2>Flexible repayment options</h2>
        <p class="pr-5 text-white-50">Easy loans for every need</p>
        <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
      </div>
      <div class="col-lg-3 col-xs-12 links">
        <h4 class="mt-lg-0 mt-sm-3">Links</h4>
          <ul class="m-0 p-0">
            <li>- <a href="#">Home</a></li>
            <li>- <a href="#">about</a></li>
            <li>- <a href="#">login</a></li>
            <li>- <a href="#">emi</a></li>
            <li>- <a href="#">career</a></li>
            <li>- <a href="#">contact us</a></li>
          </ul>
      </div>
      <div class="col-lg-4 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Location	<mat-icon> location_on</mat-icon></h4>
        <p>Address: M01, Krishnai Plaza, Canal Rd, near Cummins food hub, Karve Nagar, Pune, Maharashtra 411052</p>
        <p class="mb-0"><i class="fa fa-phone mr-3"></i>411052</p>
        <p><i class="fa fa-envelope-o mr-3"></i>www.securefinance.com</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class=""><small class="text-white-50">© 2023. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
  </div>