

<div style="height: 30px;width: 100%; background-color: rgb(14, 21, 155);">
</div>

<mat-toolbar class="abc" color="secondary">
    <span><img src="assets\ccc.png" alt="company logo"></span>
    <a mat-button color="primary"  routerLink="home">Home<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </a> 
     <a mat-button color="primary"  routerLink="about">About<mat-icon>people</mat-icon></a>
     <a mat-button color="primary" routerLink="emi">EMI Calculator</a>
     <a mat-button color="primary" routerLink="enquiry">Enquiry</a>
     <a mat-button color="primary" routerLink="login">Login</a>
     <a mat-button color="primary" routerLink="locate"> Locate Us <mat-icon> place</mat-icon></a>
    
   </mat-toolbar>
   
