<!-- <div style="justify-content: center; display: flex;">
<div class="container">
    <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                    <h3 class="panel-title">Please sign up for Bootsnipp <small>It's free!</small></h3>
                     </div>
                     <div class="panel-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                        <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                                </div>
                            </div>
                        </div>
                        
                        <input type="submit" value="Register" class="btn btn-info btn-block">
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div> -->

<div style="display: flex; justify-content: center; border-radius: 10px ; border-color: blue;background: rgb(207,255,244);
background: linear-gradient(90deg, rgba(207,255,244,1) 0%, rgba(11,9,150,1) 92%);">
    <div style="justify-content: center; display: flex;">
        <div style="display: flex; justify-content: center;margin-top: 10px;margin-bottom: 20px; border-radius: 10px ; border-color: blue;background-color: antiquewhite;">


            <form class="enquiry-form">
                <pre></pre>
                <mat-form-field>

                    <mat-label>Name</mat-label>

                    <input matInput placeholder="Your name">

                </mat-form-field>
                <pre></pre>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <pre></pre>
                    <input matInput placeholder="Your email">
                </mat-form-field>
                <pre></pre>
                <mat-form-field>
                    <mat-label>Message</mat-label>
                    <textarea matInput placeholder="Your message"></textarea>
                </mat-form-field>
                <pre></pre>
                <button mat-raised-button color="primary">Send</button>
            </form>


        </div>
        <div>

        </div>
    </div>
</div>